body{
    background-color: transparent;
}
.menu-amburgue{
    display: none;
}
.js .menu-amburgue{
    display: block;
}
.min-widthset{
    display: none;
    transition:all 1s ease-in-out;
}
.logotipo{
    display: flex;
    justify-content: left;
    background-color: transparent;
    padding: .5em .3em;
}
.header-index{
    margin-bottom: .5em;
    background-color: tomato;
}
.menu-navegcaao{
    animation-name: iniciando-lef;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.menu-navegcaao ul{
    list-style: none;
}
.menu-navegcaao li a{
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 900;
    padding: .5em 0;
    background-color: transparent;
    margin: .5em 0;
    color: var(--branco-2);
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.menu-navegcaao li a:hover{
    background-color: var(--fundo-title-1);
    color: var(--branco-3);
}
.card-h1{
    color: var(--fundo-title-1);
    text-align: left;
    font-size: .9em;
}
.card-receitas-para-secar a{
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    }
    .imagens-personalizada{
        margin: 0;
    }
}
@media screen and (min-width: 768px) {
    .min-widthset{
        display: block;
    }
    .js .menu-amburgue{
        display: none;
    }
    /* .menu-navegcaao{ */
        /* display: block; */
    /* } */
    .card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5em;
    }
    .imagens-personalizada{
        margin: 0;
    }
    .card-h1{
        text-align: center;
        font-size: 1.3em;
        padding: .5em 0;
    }
    .header-index{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-navegcaao li a{
        margin: 0 .1em;
        padding: .5em;
        border-radius: .5em;
    }
}