*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
    letter-spacing: 1px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    padding: 0 .5em;
}
p,a,span,button,strong{font-size: 16px;}
h1{font-size: 28px;}
h2{font-size: 26px;}
h3{font-size: 24px;}
h4{font-size: 22px;}
h5{font-size: 20px;}
h6{font-size: 18px;}