*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
    letter-spacing: 1px;
    /* background-color: white; */
}
/* .tudo-digita-container{
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: ; */
.tudo-digital-logotipo{
    align-items: center;
} */
.tudo-digital-menu ul{
    list-style: none;
}
.tudo-digital-menu li > a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    display: block;
    background-color: var(--texto-color-black-7);
    padding: 1em 0;
    margin: .2em 0;
    transition: .5s ease-in-out;
}
.tudo-digital-menu li > a:hover{
    background-color: var(--texto-color-black-8);
}
.config-logo-menu-amburguer{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* fim das copias */
.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin: .5em auto;
}
.video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow:  2px 4px 3px var(--texto-color-black-7);
}
:root{
    --texto-color-whitt-0: #ffffffe6;
    --texto-color-whitt-1: #ffffffcc;
    --texto-color-whitt-2: #ffffffb3;
    --texto-color-whitt-3: #ffffff99;
    --texto-color-whitt-5: #ffffff80;
    --texto-color-whitt-6: #ffffff66;
    --texto-color-whitt-7: #ffffff4d;
    --texto-color-whitt-8: #ffffff33;
    --texto-color-whitt-9: #ffffff1a;
    --texto-color-black-0: #000000e6;
    --texto-color-black-1: #000000cc;
    --texto-color-black-2: #000000b3;
    --texto-color-black-3: #00000099;
    --texto-color-black-4: #00000080;
    --texto-color-black-5: #00000066;
    --texto-color-black-6: #0000004d;
    --texto-color-black-7: #00000033;
    --texto-color-black-8: #0000001a;
    --branco-1: white;
    --branco-2: #ffffffc2;
    --branco-3: #ffffffa1;
    --fundo-title: black;
    --fundo-title-1: #000000d3;
    --fundo-title-2: #000000ad;
    --cores-fundo-red-0: rgba(255, 0, 0, 0.9);
    --cores-fundo-red-1: rgba(255, 0, 0, 0.8);
    --cores-fundo-red-2: rgba(255, 0, 0, 0.7);
    --cores-fundo-red-3: rgba(255, 0, 0, 0.6);
    --cores-fundo-red-4: rgba(255, 0, 0, 0.5);
    --cores-fundo-red-5: rgba(255, 0, 0, 0.4);
    --cores-fundo-red-6: rgba(255, 0, 0, 0.3);
    --cores-fundo-red-7: rgba(255, 0, 0, 0.2);
    --cores-fundo-red-8: rgba(255, 0, 0, 0.1);
    --cores-blue-util-0: #0000ff;
    --cores-blue-util-1: #0000ffcc;
    --cores-blue-util-2: #0000ffb3;
    --cores-blue-util-3: #0000ff99;
    --cores-blue-util-4: #0000ff80;
    --cores-blue-util-5: #0000ff66;
    --cores-blue-util-6: #0000ff4d;
    --cores-blue-util-7: #0000ff33;
    --cores-blue-util-8: #0000ff1a;
    --cores-yellow-util-0: rgba(255, 255, 0, 0.9);
    --cores-yellow-util-1: rgba(255, 255, 0, 0.8);
    --cores-yellow-util-2: rgba(255, 255, 0, 0.7);
    --cores-yellow-util-3: rgba(255, 255, 0, 0.6);
    --cores-yellow-util-4: rgba(255, 255, 0, 0.5);
    --cores-yellow-util-5: rgba(255, 255, 0, 0.4);
    --cores-yellow-util-6: rgba(255, 255, 0, 0.3);
    --cores-yellow-util-7: rgba(255, 255, 0, 0.2);
    --cores-yellow-util-8: rgba(255, 255, 0, 0.1);
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    padding: 0 .5em;
}
.logo-tipo{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5em;
    color: var(--branco-3);
    font-weight: 900;
    padding: .5em;
    background-size: 150% 150%;
    background-image: linear-gradient(-45deg, hsla(0, 0%, 0%, 0.5),hsla(0, 100%, 50%, 0.5),hsla(240, 100%, 50%, 0.5),rgba(255, 255, 0, 0.5));
    transition: color 1s ease-in-out;
    /* animation: trasisao 1s linear alternate infinite; */
}
.logo-tipo:hover{color: var(--branco-2);}
img{display: block;max-width: 100%;}
/* tamanhos de imagens */
.img-tamanhos-0{width: 90%;margin: 0 auto;}
.img-tamanhos-1{width: 80%;margin: 0 auto;}
.img-tamanhos-2{width: 70%;margin: 0 auto;}
.img-tamanhos-3{width: 60%;margin: 0 auto;}
.img-tamanhos-4{width: 50%;margin: 0 auto;}
.img-tamanhos-5{width: 40%;margin: 0 auto;}
.img-tamanhos-6{width: 30%;margin: 0 auto;}
.img-tamanhos-7{width: 20%;margin: 0 auto;}
p,a,span,button,strong{font-size: 16px; color: var(--texto-color-black-0);}
h1{font-size: 28px; color: var(--texto-color-black-1);}
h2{font-size: 26px; color: var(--texto-color-black-2);}
h3{font-size: 24px; color: var(--texto-color-black-3);}
h4{font-size: 22px; color: var(--texto-color-black-4);}
h5{font-size: 20px; color: var(--texto-color-black-5);}
h6{font-size: 18px; color: var(--texto-color-black-6);}
@keyframes trasisao{from{background-position: 0 150%;}to{background-position: 150% 0;}}
@keyframes iniciando-lef{from{transform: translateX(-1001%);}}
@keyframes iniciando-rigth{from{transform: translateX(1001%);}}
.anima-left{
    animation-name: iniciando-lef;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.imagens-personalizada{
    display: grid;
    margin: .5em 0;
}
.imagens-personalizada img{
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: flex-end;
    width: 100%;
    object-fit: cover;
    /* justify-self: end; */
}
.imagens-personalizada p{
    grid-column: 1;
    grid-row: 2 / 3;
    background-color: var(--fundo-title-2);
    color: var(--branco-2);
    text-align: center;
    padding: .5em;
    align-self: flex-end;
}

/* Configuração de menu amburgue 

    teara uma div class: menu-amburgue
    input:checkbox id: checkbox-menu
    label class: label-menu e 3 span

*/
.menu-amburgue{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: transparent;
    padding: .5em;
}
#checkbox-menu{
    position: absolute;
    opacity: 0;
    background-color: transparent;
    border: none;
}
.label-menu{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}
.label-menu span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: black;
    transition: 0.25x ease-in-out;
}
.label-menu span:nth-child(1){
    top: 0;
}
.label-menu span:nth-child(2){
    top: 8px;
}
.label-menu span:nth-child(3){
    top: 16px;
}
#checkbox-menu:checked + .label-menu span:nth-child(1){
    transform: rotate(45deg);
    top: 8px;
}
#checkbox-menu:checked + .label-menu span:nth-child(2){
    opacity: 0;
}
#checkbox-menu:checked + .label-menu span:nth-child(3){
    transform: rotate(-45deg);
    top: 8px;
}
.buttons{
    display: block;
    margin: .5em auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding: 1em 0;
    width: 90%;
    border-radius: 2em;
    font-weight: 900;
    color: var(--texto-color-black-2);
    background-color: var(--cores-fundo-red-5);
    transition: .5s ease-in-out;
}
.buttons:hover{
    background-color: var(--cores-fundo-red-3);
    color: var(--texto-color-black-0);
    animation:anima-buttons-0 .5s ease-in-out 5 alternate;
    /* animation-iteration-count: 5; */
}
.verificado::before{
    content: "";
    display: inline-block;
    width: 1em;
    height: .5em;
    border-radius: .1em;
    border: 5px solid var(--texto-color-black-5);
    border-top: none;
    border-right: none;
    margin: .1em .5em;
    padding: 0 .1em;
    transform: rotate(-45deg);
}
@keyframes anima-buttons-0{
    from{
        transform: scale(1.01);
    }
}
@media screen and (min-width: 500px) {
    .grid-colun-01{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    } 
}
@media screen and (min-width: 600px) {
    .grid-colun-02{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    } 
}
@media screen and (min-width: 700px) {
    .grid-colun-03{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    } 
}
@media screen and (min-width: 800px) {
    .grid-colun-04{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5em;
    } 
}
@media screen and (min-width: 900px) {
    .grid-colun-05{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    } 
}
@media screen and (min-width: 1000px) {
    .grid-colun-06{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    } 
}
@media screen and (min-width: 1100px) {
    .grid-colun-07{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    } 
}