*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
}
h1{font-size: 28px;}
h2{font-size: 26px;}
h3{font-size: 24px;}
h4{font-size: 22px;}
h5{font-size: 20px;}
h6{font-size: 18px;}
p,span,button{font-size: 16px;}
.container{
    width: 90%;
    margin: auto;
    background-color: beige;
    padding: 1em;
}
.header-index{
    background-color: maroon;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.logotipo a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 900;
}
.logotipo a::after{
    content: "";
    display: block;
    border-bottom: 2px solid #ffffff9a;
}
.menu-navegacao ul{
    list-style: none;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu > li a{
    display: block;
    background-color: #00000002;
    color: #ffffffcc;
    margin: .1em 0;
    text-align: center;
    text-decoration: none;
    padding: .5em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
}